.header {
  background-color: #ffffff;
  padding: 0.4rem;
  overflow: hidden;
  height: 2.8rem;
  position: fixed;
  border-bottom: 1px solid #cccccc;
  width: 100%;
  z-index: 100;
  top: 0;
}
.header-logo {
  color: #1e90ff;
  font-size: 1.4rem;
  text-align: left;
}
.header-txt {
  font-size: 0.6rem;
  display: inline-block;
  padding-left: 0.3rem;
  color: #999;
}
.ant-menu {
  line-height: 2.6rem;
}
.ant-menu-item {
  font-size: 1rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ant-row {
  /* justify-content: space-between; */
}
.header-weather {
  margin-left: 142px;
  top: 0px;
  /* z-index: 1000; */
  position: absolute;
}
.header-menu {
  display: flex;
  justify-content: center;
  line-height: 2rem;
  font-size: 20px;
}
